#color-nav{
    background-color: teal;
}


/* Jumbotron Background image */

.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 30rem;
    height: 660px;

  }
  
  .bg-cover {
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
    background-image: url(../images/notebook-1280538_1920.jpg)
  }
  
  .overlay {
    background-color:white;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  /*Jumbotron text*/

.text-jumbotron{
    padding: 150px;
}

  /*About*/
  
.about{
    width: 80%;
  }

  /*Portfolio*/
#portfolio-grid{
  width: 90%;
}

.project-img{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;

}

.container:hover .project-img {
  opacity: 0.3;
}
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }